{
  "general": [
    {
      "identity": "sessions_by_protocol",
      "items": ["active_sessions_by_protocol"],
      "visible": true,
      "stacked": true,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general#active-sessions-by-protocol"
    },
    {
      "identity": "sessions_by_location",
      "items": ["active_sessions_by_location"],
      "visible": true,
      "stacked": true,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general#active-sessions-by-locations"
    },
    {
      "identity": "connected_users",
      "items": ["dcu", "wcu", "mcu"],
      "visible": true,
      "stacked": false,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general#connected-users"
    },
    {
      "identity": "connected_devices",
      "items": ["dcd", "wcd", "mcd"],
      "visible": true,
      "stacked": false,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general#connected-devices"
    },
    {
      "identity": "users",
      "items": ["active_users", "blocked_users", "invited_users", "deleted_users"],
      "stacked": true,
      "visible": false,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general#users"
    },
    {
      "identity": "devices",
      "items": ["active_devices"],
      "visible": false,
      "stacked": true,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general#devices"
    },
    {
      "identity": "inactive_users",
      "items": ["inactive_users_by_day", "inactive_users_by_week", "inactive_users_by_month"],
      "visible": false,
      "stacked": true,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general#inactive-users"
    },
    {
      "identity": "inactive_devices",
      "stacked": true,
      "items": ["inactive_devices_by_day", "inactive_devices_by_week", "inactive_devices_by_month"],
      "visible": false,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general#inactive-devices"
    },
    {
      "identity": "network_traffic",
      "items": ["htraff"],
      "visible": true,
      "stacked": true,
      "info": "https://auravpn.gitbook.io/paas/console-details/project-dashboard/general"
    }
  ],
  "location": [
    {
      "identity": "location_loading",
      "items": ["location_map"],
      "visible": true,
      "info":
      "https://auravpn.gitbook.io/paas/console-details/project-dashboard/location-loading"
    }
  ]
}
